* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color:#fff;
  background: linear-gradient(45deg, teal,dodgerblue);
  min-height: 100vh;
}


.container {
  padding: 2rem 8rem;
  text-align: center;
  width: 40%;
  margin: 2rem auto;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


/* add expense */
.add-expense .form-group input ,select{
  width: 90%;
  padding: 12px;
  border: none;
  margin: 0 auto 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
}



.add-expense button {

  padding:10px 12px;
  width:94%;
  color:#fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 4px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
 }
 
 .add-expense button:hover {
  color: #516d91;
  background-color: #E5EDF5;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
 }
 
 .add-expense button:active {
  box-shadow: none;
 }



 .expense_box{
  padding:1rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #333;
 }
 .expense_box .expense_name{
  width:50%;
 }
 .expense_box .expense_name{
  width:20%;
 }
 .expense_box:last-child{
  border:0;
 }
